@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>
<ul class="gigs voffset3">
    @* voffset3 created in Site.css *@
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">
                        Edit
                    </a> |
                    @*class="js-cancel-gig" ==> This is a selector with js prefix to inform of it will be use in script and not presentation*@
                    @*data-gig-id="@gig.Id"==> This data attribute is need for the Jquery code*@
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@*This script implements the logical delete*@
@section scripts
{
    <script>
        //When Document is ready then this function will be called
        $(document).ready(function () {

            // Get all objects with the class="js-cancel-gig" and when Click then call this function
            $(".js-cancel-gig").click(function (e) { // e ==> is the event

                // link ==> is the source of the event
                var link = $(e.target);

                //http://bootboxjs.com/
                bootbox.dialog({
                    message: "Are you sure you want to cancel this gig?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                // use jQuery AJAX
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE" // [HttpDelete]
                                })// This returns a Promise therefore .done and .fail scenario need to be handle
                                .done(function () {
                                    // The parent of class="js-cancel-gig" Selector ==> <li></li>
                                    // Will have a fade out animation
                                    link.parents("li").fadeOut(function () {
                                        // $(this) === link.parents("li")
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}